# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore vim
*~
*.swp
*.swo

# Ignore macOS
.DS_Store

#ignore virtual environment folders
venv/

#ignore python cache
__pycache__/
